@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#topbar{
    position: sticky;
}
#navmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;  
}
#navmain img{
    height: 45px;
}
#navlink a{
    text-decoration: none;
    color: gray;
    padding-left: 7px;
}
#hero{
    background-image:url(./images/home-bg.jpg);
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#intro{
    width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 230px;
}
#intro h1{
    font-family: "Merienda", serif;
}
#intro p{
    font-family: "Nunito", serif;
    font-size:22px;
    font-weight: 400;
    padding:5px;
}
#about-b{
    color: rgb(217, 217, 226);
    background-color:#0B5ED7;
    height: 50px;
    border-radius: 15px;
    font-size: large;
    border-color:#0B5ED7;
}

#intro-n{
    height: 640px;
  display: flex;
  justify-content: center;
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#intro-img{
    border: 1px solid gainsboro;
    background-image:url(./images/about-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    
}
#intro-sec{
    border: 1px solid gainsboro;
}
#ab-bor{
    border: 1px solid #0DCAF0;
    background-color: #0DCAF0;
    border-radius: 10px;
    text-align: center;
    height: 230px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}
#ab-bor h1{
    font-family: "Merienda", serif;
} 
#ab-bor p{
    font-family: "Nunito", serif;
    font-size:20px;
    padding: 20px;
}
#logo{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 120px;
}
#logo img{
    height: 50px;
}
#logo h1{
    font-family: "Merienda", serif;
    color: #212529;
    
}
#facilities{
    border:1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 100px;
}
.facility{
    border: 1px solid gainsboro;
    padding-left: 10px;
    padding-bottom: 10px;
}
.facility h2{
    font-family: "Merienda", serif;
    color: #212529;
}
.facility p{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    color: #212529;
}
#logo2{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 120px;

}
#logo2 img{
    height: 50px;
}
#logo2 h1{
    font-family: "Merienda", serif;
    color: #212529;
   
}
#our-facility{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid gainsboro;
    margin: 0 100px;
}
.varity {
    border: 1px solid gainsboro;
    padding: 0 0 8px 8px;
    font-weight: 400;
    color: #212529;
}
h2{
    font-family: "Merienda", serif;
    color: #212529;
}
#logo3{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 120px;
}
#logo3 img{
    height: 50px;
}
#logo3 h1{
    font-family: "Merienda", serif;
    color: #212529;
}
#gallery{
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
}
.gal img{
    height: 300px;
    width: 435px;
    padding-left: 3px;
    border: 1px solid gainsboro;
}
#logo4{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 120px;
}
#logo4 img{
    height: 50px;
}
#logo4 h1{
    font-family: "Merienda", serif;
    color: #212529;
}
#team{
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
}
.member {
    border: 1px solid gainsboro;
}
.member img{
    height: 400px;
    width: 400px;
    margin: 0 10px 0 20px;
}
.member div{
    margin-left: 20px;
}
#logo5{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 120px;
}
#logo5 img{
    height: 50px;
}
#logo5 h1{
    font-family: "Merienda", serif;
    color: #212529;
}
#contact{
    border: 1px solid gainsboro;
    height: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
}
#con-img{
    border: 1px solid gainsboro;
}
#form{
   border: 1px solid gainsboro; 
}
form{
    border: 2px solid black;
    height: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
form h1{
    text-align: center;
    margin-bottom: 40px;
}
input{
    border-color: black;
    width: 400px;
    margin-bottom: 25px;
    padding: 15px;
}
button{
    background-color: #CC9966;
    border-color: white;
    color: white;
    height: 90px;
    width: 120px;padding: 15px;
}
#review{
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    margin: 0 100px;
}

.mail {
    border: 1px solid gainsboro;
    padding: 20px;
}
.cir{
    background-color: #BE9C79;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.mail p{
    font-size: 25px;
}
